<br><br>
<div class="search" >
    <form (ngSubmit)="check(f)"  #f="ngForm">
        <input type="text" name="id" placeholder="Enter Company ID" ngModel>
        &nbsp;
        <button type="submit">Search</button>

    </form>
</div>

<div>

    <app-cpadd *ngIf="addState" (setFalse)="onCancel()" (task)="onEdit()"></app-cpadd>

</div>
<br>

<div class="button-container" *ngIf="!addState">
    <button (click)="onGet()" class="button-17">Get Companies</button>
    <button (click)="onEdit()" class="button-17">Add Company</button>
  </div>
  
<br><br>

    <div class="table">
      <!-- Display ag-grid-angular when addState is false -->
      <ag-grid-angular *ngIf="!addState"
        class="ag-theme-alpine-dark"
        style="height: 400px; width: 600px;"
        [rowData]="rowData"
        [columnDefs]="colDefs">
      </ag-grid-angular>
    </div>
