<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Add Company</h2>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <p>
      <label for="name">Company Name</label>
      <input type="text" id="name" name="name" ngModel />
    </p>

    <p>
      <label for="started">Started On</label>
      <input type="text" id="started" name="started" ngModel/>
    </p>

    <p>
        <label for="location">Location</label>
        <input type="text" id="location" name="location" ngModel />
      </p>
    

    <p class="actions">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button type="submit">Add</button>
    </p>
  </form>
</dialog>
