@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');

/* Variables */
:root {
  --background: #fffffb;
  --accent: #ff6b6c;
  --otherAccent: #ffc145;
  --darkBackground: #5b5f97;
}

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", arial, sans-serif;
  color: #b3a8a8;
}

/* Login container */
#login-container {
  height: 400px;
  width: 350px;
  padding: 20px;
  border-radius: 5px;
  background: var(--background);
  position: relative;
  box-shadow: 5px 5px 10px rgba(75, 73, 73, 0.5);
  margin-left: 400px;
  margin-top:55px;
}

/* Profile image */
#login-container .profile-img {
  height: 100px;
  width: 100px;
 /* background: url('https://images.unsplash.com/photo-1504933350103-e840ede978d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80');
  */background-size: cover;
  background-position: center;
  position: absolute;
  top: -25px;
  left: -25px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

/* Heading styles */
#login-container h1 {
  font-family: 'Sriracha', arial, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  color: var(--otherAccent);
}

/* Description */
#login-container .description {
  margin-bottom: 20px;
}

/* Social links */
#login-container .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  margin: 0 auto;
}

#login-container .social a {
  text-align: center;
  border: solid 2px var(--accent);
  width: 75px;
  padding: 5px 0;
  border-radius: 5px;
}

#login-container .social a:hover {
  background: var(--accent);
  color: white;
  cursor: pointer;
}

/* Button */
#login-container button {
  width: 30%;
  height: 30px;
  font-size: 1rem;
  margin: 30px 10% 0 10%;
  color: var(--background);
  border: none;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  background: linear-gradient(45deg, var(--accent), var(--otherAccent), var(--otherAccent), var(--accent));
  background-size: 300% 300%;
  outline: none;
  transition: all 200ms ease-in-out;
}

#login-container button:hover {
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  transform: translateY(2px);
}

#login-container button:active {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  transform: translateY(4px);
}

/* Footer */
#login-container footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--darkBackground);
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 30px;
  padding: 0 20px;
  margin-left: -20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#login-container footer div {
  display: flex;
}

#login-container footer div .fa-heart {
  color: var(--accent);
}

#login-container footer div p:first-child {
  margin-right: 10px;
  border-right: 4px solid white;
  padding-right: 10px;
}

/* Animation keyframes */
@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
