<div>

  <app-cp-edit *ngIf="editState" (setFalse)="onCancel()" [id]="info.Id" [name]="info.Name" [location]="info.Location" [started]="info.Started" (task)="onEdit()"></app-cp-edit>

</div>
<div class="trail">

<div id="login-container" *ngIf="!editState">
    
    <h1>
        &nbsp;&nbsp;{{info.Name}}
    </h1>
    <div class="description">
      ID:{{info.Id}}<br><br>
      StartedOn: A{{info.Started}}<br><br>
      Location: {{info.Location}}<br>
    </div>
    <div class="button">
    <button (click)="onEdit()">Edit</button>
    <button (click)="onDelete()">Delete</button>
    </div>
  </div>

</div>